body {
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.radix-themes {
	--default-font-family: "Public Sans", sans-serif;
} 

.radix-themes {
    background: linear-gradient(-45deg, #fff, #e2e3e9, #fff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Input {
    padding: 6px 12px;
    font-size: 20px;
    display: block;
    width: 100%;
    max-width: 600px;
    font-weight: 400;
    margin: 0rem auto 1rem auto;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #14621f;
    padding: .5rem;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
    &[data-invalid="true"]{
        border:2px solid rgb(179, 23, 23);
    }
    &:disabled {
        opacity: .5;
    }
}

.FormRoot {
    margin-top:1rem;
    .FormLabel {
        font-style: italic;
    }
    .FormMessage {
        padding-left:1rem;
        display: block;
        font-weight: bold;
        color:rgb(179, 23, 23);
    }
}

.Button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, #14621f, #14621f, #14621f 100%);
    color: #fff;
    margin-top: 10px;
}

.Button:disabled {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #b3b3b3;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #929292;
    margin-top: 10px;

    :hover {
        border-color: #b3b3b3;
        background: #f7f7f7;
    }

}

.results {
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    gap: 1rem;

    .column {
        width: 50%;

        .rt-Flex {
            justify-content: flex-start;
        }

        .rt-Box {
            max-width: 100%;
        }

        .rt-Card {
            margin-bottom: 1rem;

            .result {
                padding: 1rem;
                max-width: 100%;

                code {
                    font-family: 'Courier New', Courier, monospace;
                    padding: 1rem;
                    background-color: var(--gray-4);
                    display: block;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}


.main {
    margin: 0 auto;
    text-align: center;

    .equalify-logo {
        max-width: 300px;
        text-align: center;
        padding-top: 2rem;
    }
}

.rt-BaseDialogOverlay {
    background-color: #1961218c;
    background: transparent;  
}

.loading-spinner-scrim {
    background-color: #196121;
    color: white;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .equalify-logo {
        max-width: 600px;
    }

    .loading-text {
        font-style: italic;
    }

    .loading-text:first-letter {
        text-transform: uppercase;
    }
}

.loader {
    margin: 0 auto;
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, #fff 90%, rgba(255, 255, 255, 0));
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 .8s infinite linear;
}

@keyframes l43 {
    0% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    16.67% {
        background-position: calc(0*100%/3) 0, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    33.33% {
        background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    50% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 50%
    }

    66.67% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 100%, calc(3*100%/3) 0
    }

    83.33% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 100%
    }

    100% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }
}